:javascript
  $(document).ready(function(){
    
  });
  function add_entry_row(){
    $('#timesheet').append("#{escape_javascript(render :partial=>'add_timesheet')}");
  }
  
  Date.format = 'yyyy-mm-dd';
  $(function() {
    $( ".datepicker" ).datePicker({startDate:'2010-01-01'});
  });
  
  function post_data(){
    var data = $('form').serialize();
    $.post("/timesheets", data,  function(data) {
      setTimeout(function(){
        alert("Data saved Successfully!");
      }, 1000);
      //$('#submit').removeAttr('disabled');
    });
  };
  
  function remove(id){
    $('#entry-'+id).parent().remove();
  }
  
  function remove_row(id){
    $('#new-'+id).parent().remove();
  }
  
  function update_timesheets(){
    var date = $('#task-date').val();
    $.ajax({url: "/timesheets/load_timesheet",type: 'post', data: {date: date}});
    return false;
  }

= form_tag do
  %table.sticky-enabled
    %thead
      %tr
        %td
          %font{:color => "red"}> *
          Date
        %td
          %input.datepicker#task-date{:type => "text", :value => "#{Date.today}", :name => "task_date", :onchange => "update_timesheets();"}
            %font{:color => "red", :size => "1"}= error_message_on :timeentry,:task_date
        /%td Day Type
        %td#day_type
        %td
          %input#day_type_input{:name => "day_type", :type => "hidden"}
        /%td Total Hrs
        %td
          %span#total-hrs-label
          %input#total-hrs{:type => "hidden"}
        %td
        %td
        %td
        %td
  %table#timesheet
    %thead
      %tr
        %th Project
        %th Category
        %th Description
        %th Hours Taken
        %th Billable
        %th Action
      - @timesheets.each do |time|
        %tr
          %td
            = hidden_field_tag "timeentry[][entry_id]", time.id
            =# hidden_field_tag "timeentry[][project_id]", time.project_id
            = select_tag "timeentry[][project_id]", options_from_collection_for_select(@projects, "id", "name", :selected => time.project_id), {:class => "select-box"}
          %td= select_tag "timeentry[][category_id]", options_from_collection_for_select(@categories, "id", "name", :selected => time.category_id), {:class => "select-box"}
          %td= text_field_tag "timeentry[][description]", time.description
          %td= text_field_tag "timeentry[][minutes]", time.minutes
          %td= check_box_tag "timeentry[][billable]", time.billable, :checked => (time.billable?) ? true : false
          %td= link_to 'X', "/timesheets/#{time.id}", :method => :delete, :confirm => "Are you sure?"
        
  .buttons
    %input.form-submit{:onclick => "return add_entry_row();", :type => "button", :value => "Add"}
    %input#submit.form-submit{"data-disable-with" => "Submitting...", :onclick => "return post_data();", :type => "button", :value => "Submit"}
    