!!! 5
%html
  %head
    %title Timesheets
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container
          %a.brand(href="/") Timesheets
          %ul.nav
            %li.active
              %a(href="/") Home
            - if current_user
              %li
                %a{:href => "/projects"} Projects
              %li
                %a{:href => "/categories"} Categories
              %li
                %a{:href => "/timesheets"} Timesheet
              %li
                %a{:href => "/projects/show_my_statistics"} My Stats
    .container#content
      .notice= notice
      .alert= alert
      =yield
